<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:href="@{/styles/cssandjs/hello.css}" rel="stylesheet" />
    <meta charset="utf-8">
<!--    <link th:href="@{/styles/cssandjs/activityTracker.css}" rel="stylesheet" />-->
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>
<body>
<div th:class="wrapper">
    <header>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>

    </header>
    <main>
        <nav>
            <div>
                <a th:href="@{/daystart/today}"> Начало дня </a>
            </div>
            <div>
                <a th:href="@{/events/today}"> События </a>
            </div>
            <div>
                <a th:href="@{/activityTracker/addActivity}"> Активность  </a>
            </div>
            <div class="selected">
                <a th:href="@{/analytics/activityAnalytics}"> Ваша статистика </a>
            </div>

        </nav>
        <div class="content">
            <button type="button" th:onclick="|showActivityStat('${activityAnalytic.hobby}','${activityAnalytic.social}','${activityAnalytic.sport}','${activityAnalytic.study}','${activityAnalytic.work}')|">Статистика по активности</button>
            <div>
                <canvas id="myChart" width="300" height="100"></canvas>
            </div>
            <button type="button" th:onclick="|showMoodStat('${moodAnalytic.very_good}', '${moodAnalytic.good}','${moodAnalytic.fine}', '${moodAnalytic.sad}', '${moodAnalytic.very_sad}')|">Статистика по настроению</button>
            <div>
                <canvas id="myChart2" width="300" height="100"></canvas>
            </div>
            <!--      <img src="/images/cat.jpg/" class="center-img"><br>-->
            <!--      <img th:src="@{/images/cat.jpg}"/>-->
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>