<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link th:href="@{/styles/cssandjs/hello.css}" rel="stylesheet" />
  <meta charset="utf-8">
</head>
<body>
<div th:class="wrapper">
  <header>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Выйти"/>
    </form>

  </header>
  <main>
    <nav>
      <div>
        <a th:href="@{/daystart/today}"> Начало дня </a>
      </div>
      <div>
        <a th:href="@{/events/today}"> События </a>
      </div>
      <div>
        <a th:href="@{/activityTracker/addActivity}"> Активность  </a>
      </div>
      <div>
        <a th:href="@{/analytics/activityAnalytics}"> Ваша статистика </a>
      </div>

    </nav>
    <div class="content">
      <h1 th:inline="text">Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!</h1>
      <h3 th:inline="text">Выберите раздел из меню справа, чтобы начать работу с дневником</h3>
      <img th:src="@{img/cat.jpg}" alt=""/>
<!--      <img src="/images/cat.jpg/" class="center-img"><br>-->
<!--      <img th:src="@{/images/cat.jpg}"/>-->
    </div>
  </main>
  <footer>

  </footer>
</div>
</body>
</html>