<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link th:href="@{/styles/cssandjs/login.css}" rel="stylesheet" />
</head>
<body>
<div th:class="wrapper">
    <header>
        <span>Дневник</span>
        <button id="btn-out" type="button" onClick="location.href='/registration'">Зарегистрироваться</button>
<!--        <a th:href="@{/start/adjective}"><input type="submit" value="Sign Out"/></a>-->
<!--        <form th:action="@{/logout}" method="post">-->
<!--            <input type="submit" value="Sign Out"/>-->
<!--        </form>-->
    </header>
    <main>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:class="signInMain" th:action="@{/login}" method="post">
            <div th:class="formTitle">Авторизация</div>
            <div><label> Логин : <input type="text" name="username"/> </label></div>
            <div><label> Пароль: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Войти"/></div>
        </form>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>