<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/login.css}" rel="stylesheet" />
    <meta charset="utf-8">
</head>
<body>
<!--
<form th:action="@{/registration}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Add new account"/></div>
</form>-->
<div th:class="wrapper">
    <header>
        <span>Дневник</span>
        <button id="btn-out" type="button" onClick="location.href='/login'">Уже есть аккаунт, войти</button>
    </header>
    <main>
        <form th:class="signUpMain" th:action="@{/registration}" th:method="POST" th:object="${user}">

            <div th:class="formTitle">Регистрация</div>

            <div th:if="${message}">
                <h5>Warning:</h5><h5 th:text="${message}"></h5>
            </div>

            <h5><div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div></h5>
            <div><label> Имя: <input type="text" name="name" placeholder="Имя"/> </label></div>

            <h5><div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div></h5>
            <div><label> Email: <input type="text" name="email" placeholder="Электронная почта"/> </label></div>

            <h5><div th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Name Error</div></h5>

            <div><label> Пол: <select th:field="*{sex}">
                <option th:text="Мужской" th:value="'М'"></option>
                <option th:text="Женский" th:value="'Ж'"></option>

            </select>
            </label></div>

            <h5><div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</div></h5>

            <div><label> Возраст: <input type="number" name="age" placeholder="Возраст"/> </label></div>

            <h5><div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div></h5>

            <div><label> Пароль: <input type="password" name="password" placeholder="Пароль"/> </label></div>

            <div><input type="submit" value="Зарегистрироваться"/></div>
        </form>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>