<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:href="@{/styles/cssandjs/hello.css}" rel="stylesheet" />
    <meta charset="utf-8">
    <!--    <link th:href="@{/styles/cssandjs/activityTracker.css}" rel="stylesheet" />-->
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>
<body>
<div th:class="wrapper">
    <header>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>

    </header>
    <main>
        <nav>
            <div class="selected">
                <a th:href="@{/daystart/today}"> Начало дня </a>
            </div>
            <div>
                <a th:href="@{/events/today}"> События </a>
            </div>
            <div>
                <a th:href="@{/activityTracker/addActivity}"> Активность  </a>
            </div>
            <div>
                <a th:href="@{/analytics/activityAnalytics}"> Ваша статистика </a>
            </div>

        </nav>
        <div class="content">
            <form th:action="@{/daystart/today/setstart}" th:method="POST" th:object="${dayStart}">

                <h3>Введите данные о настроении</h3>
                <div><label> Настроение: <select th:field="*{mood}">
                    <option th:text="'Отлично'" th:value="'VERY_GOOD'"></option>
                    <option th:text="'Хорошо'" th:value="'GOOD'"></option>
                    <option th:text="'Нормально'" th:value="'FINE'"></option>
                    <option th:text="'Грустно'" th:value="'SAD'"></option>
                    <option th:text="'Очень грустно'" th:value="'VERY_SAD'"></option>

                </select>
                </label></div>

                <input type="submit" value="Сохранить">
            </form>
            <form th:action="@{/daystart/today/setsleep}" th:method="POST" th:object="${sleepTracker}">

                <h3>Введите данные о сне</h3>

                <label> Отход ко сну: <input type="time" name="start" placeholder="начало"></label>
                <label> Пробуждение: <input type="time" name="fin" placeholder="конец"></label>
                <div><label> Как спалось? <select th:field="*{result}">
                    <option th:text="'Отлично'" th:value="'VERY_GOOD'"></option>
                    <option th:text="'Хорошо'" th:value="'GOOD'"></option>
                    <option th:text="'Нормально'" th:value="'FINE'"></option>
                    <option th:text="'Плохо'" th:value="'SAD'"></option>
                    <option th:text="'Ужасно'" th:value="'VERY_SAD'"></option>

                </select>
                </label></div>
                <input type="submit" value="Сохранить">

            </form>

            <form th:action="@{/daystart/today/setpoint}" th:method="POST">

                <h3>Какие планы на сегодня?</h3>

                <input type="text" name="description" placeholder="описание">

                <input type="submit" value="Сохранить">

            </form>

        </div>
        <div>
            <span th:if="${dayStart} != null" th:text="${dayStart.getMood()}"></span>
            <span th:if="${sleepTracker} != null" th:text="${sleepTracker.getStart()}"></span>
            <span th:if="${sleepTracker} != null" th:text="${sleepTracker.getFin()}"></span>
            <span th:if="${sleepTracker} != null" th:text="${sleepTracker.getResult()}"></span>
        </div>
<!--        <span th:text="${sleepTracker.getPoints()}">Тут надо цикл сделать</span>-->
    </main>
    <footer>

    </footer>
</div>
</body>
</html>